* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background: white;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1,
nav ul {
  font-size: 1.5rem;
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background: linear-gradient(to right, #f2994a, #f2c94c);
}

.project {
  background: linear-gradient(to right, #67b26f, #4ca2cd);
}

.contact {
  background: linear-gradient(to right, #cc2b5e, #753a88);
}

.bubble {
  position: absolute;
  z-index: -2;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  transform: scale(2);
  transition: all 0.5s ease;
}
